.hero-banner{
    background: url(../../../assets/images/hero-bg-overlay.jpg);
    background-position: 0 34%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    position: relative;
&::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(39,39,39,.88);
}
}