.visit-banner{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .16);
    background-image: url(../../../assets/images/corporate-office-bg-overlay.jpg);
    &::before{
        border-radius: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(39,39,39,.86);
    }
    
}