.feature-box{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
    color: #7A7A7A;
    cursor: pointer;
    h2{
        color: #7A7A7A;
    }
    transition: all .2s ease;
    &.active{
        background: #0ABE51;
        color: #fff;
        h2{
            color: #fff;
        }
    }
  
}
.feature-description{
    span{
        display: block;
        margin-top: 1rem;
    }
}