.blog-card-wrapper{  
    .image-wrapper{
        min-height: 150px;
        background-size: cover;
        background-position: center;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .12);
        &.overlay{
            &::before{           
                border-radius: 5px;
                box-shadow: 0 0 15px rgba(0, 0, 0, .12);
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(39,39,39,.88);
            }
        }
    }
}